.navbarmain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbarmain div {
  padding: 0 1rem;
}

.navbarmain div p {
  font-weight: bold;
  font-size: 1.1rem;
  color: red;
  cursor: pointer;
}

.navbarblack {
  background-color: black;
}
